<h1 mat-dialog-title>Sign up</h1>
<form [formGroup]="signupForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="Email" required tabindex="1">
            <mat-error *ngIf="signupForm.controls['email'].hasError('required')">Email is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-hint align="start">Max 80 characters, min 3</mat-hint>
            <input type="text" matInput formControlName="name" maxlength="80"  placeholder="Name" required tabIndex="2">
            <mat-error *ngIf="signupForm.controls['name'].hasError('required')">Name is required.</mat-error>
            <mat-error *ngIf="signupForm.controls['name'].hasError('maxlength')">You name is too long.</mat-error>
            <mat-error *ngIf="signupForm.controls['name'].hasError('minlength')">You name is too short.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-hint align="start">Max 80 characters, min 3</mat-hint>
            <input type="text" matInput formControlName="surname" maxlength="80"  placeholder="Surname" required tabIndex="3">
            <mat-error *ngIf="signupForm.controls['surname'].hasError('required')">Surname is required.</mat-error>
            <mat-error *ngIf="signupForm.controls['surname'].hasError('maxlength')">You surname is too long.</mat-error>
            <mat-error *ngIf="signupForm.controls['surname'].hasError('minlength')">You surname is too short.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-hint align="start">Max 80 characters, min 6</mat-hint>
            <input type="password" matInput formControlName="password" placeholder="Password" required maxlength="80" tabindex="2">
            <mat-error *ngIf="signupForm.controls['password'].hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="signupForm.controls['password'].hasError('maxlength')">You password is too long.</mat-error>
            <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')">You password is too short.</mat-error>
          </mat-form-field> 
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [disabled]="signupForm.invalid" (click)="signUp()" tabindex="6">Sign up</button>
        <button mat-raised-button (click)="onNoClickSignUp()" tabindex="-1">Cancel</button>
    </div>
</form>
