.one-post {
    background-color: white;
    border: 1px solid #ccc;
    padding: 7px;
    position: relative;
    min-height: 500px;
}

.one-post .title {
    position: absolute;
    top: 50%;
    margin-top: -3%;
    left: 50%;
    margin-left: -50%;
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .5);
    border-left: 6px solid white;
    border-right: 6px solid white;
}

.title p {
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, .9);
}

.description {
    border: 1px solid #cccccc;
    margin: 25px 0;
    padding: 15px;
    margin-top: 7px;
    background: url(http://1.bp.blogspot.com/-gvBDWFzrKms/U0uTJu1FpCI/AAAAAAAAAUA/JbNUwz4Ahgo/s1600/postbg.png) repeat #ffffff;
    position: relative;
}

.description .description-post-title {
    font-family: inherit;
    font-weight: 600;
    transition: all .7s linear;
}

.description .description-post-title:hover {
    color: #f26c4f;
    transition: all .7s linear;
    cursor: pointer;
}

.description .description-post-subtitle {
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    color: #f26c4f;
    cursor: default;
}

.description .description-post-info {
    color: #cccccc;
    font-family: inherit;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.description p {
    color: #989898;
}

.description:before,
.description:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 5px;
    right: 0;
    border: inherit;
    padding: 2px;
    background: inherit;
    width: calc(100% - 10px);
}

.description:after {
    bottom: -11px;
    left: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 2px #ccc;
}

app-edit-delete {
    position: absolute;
    right: 18px;
    top: 18px;
}

app-social {
    position: absolute;
    left: 8px;
    bottom: 8px;
    padding: 0;
    z-index: 100;
}
