<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>


<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand" href="index.html">Creative<sup>+</sup></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="#">Articles</a></li>
              <li><a href="#">Toutorials</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Web design</a></li>
              <li><a href="#">Other</a></li>
              <li><a href="#">Contact</a></li>

          </ul>
          <div id="appMenu">
              <ng-template [ngIf]="!user" [ngIfElse]="signedin">
                <ul class="nav navbar-nav navbar-right new-nav">
                  <li><a class="hidden-sm nav-main-greeting" (click)="openDialogSignIn()">Sign in</a></li>
                  <li><a class="hidden-sm nav-secondary" (click)="openDialogSignUp()">Sign up</a></li>
                </ul>
              </ng-template>
              <ng-template #signedin class="nav navbar-nav navbar-right new-nav">
                <ul class="nav navbar-nav navbar-right new-nav">
                  <li><a class="hidden-sm nav-main-greeting">Hello, {{user.name}}</a></li>
                  <li><a class="hidden-sm nav-secondary" (click)="logout()">Logout</a></li>
                </ul>
              </ng-template>
          </div>
      </div>
  </div>
</nav>

<div class="header"></div>
<router-outlet></router-outlet>