<div class="description">
        <h3 class="description-title">Creative+ Design Blog</h3>
        <h6>Your Bi-Line to go her</h6>
        <p class="text-justify">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum scelerisque dignissim massa, sed gravida nisi sollicitudin vel. Sed nec erat feugiat </p>


        <div class="join-to-us">
            <h3 class="description-title">Recieve Updates</h3>

            <form class="form-inline sidebar-form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope btn-icon"></i>
                        </div>
                        <input type="text" class="form-control join" placeholder="Leave your Email here">
                        <div class="input-group-addon btn-join-block">
                            <input type="submit" class="btn-join btn-foo" value="Join">
                        </div>
                    </div>
                </div>
            </form>

            <p>Ut eget metus nibh, nec scelerisque sem. Nulla dui purus, pellentesque sit amet rutrum vitae.</p>
        </div>
        <div id="appRecentPosts">
            <h3 class="description-title">Most Discussed Posts</h3>
            <app-recent-posts></app-recent-posts>
        </div>
        <div id="appTags">
            <h3 class="description-title">Popular Tags</h3>
            <app-popular-tags></app-popular-tags>
        </div>
    </div>

    <app-ad-block></app-ad-block>
