ul.icons-post-for li{
    list-style-type: none;
    margin-bottom: 4px;
    cursor: pointer;
}

ul.icons-post-for li:last-child{
    margin-bottom: 0;
}

ul.icons-post-for li a{
    font-size: 16px;
    background-color: #f27255;
    border-radius: 20%;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .7s ease;
}

ul.icons-post-for li a:hover {
    background-color: #666;
    transition: all .7s ease;
}
