<div class="container content">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <app-posts-list></app-posts-list>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="description">
                <h3 class="description-title">Creative+ Design Blog</h3>
                <h6>Your Bi-Line to go her</h6>
                <p class="text-justify">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum scelerisque dignissim massa, sed gravida nisi sollicitudin vel. Sed nec erat feugiat </p>


                <div class="join-to-us">
                    <h3 class="description-title">Recieve Updates</h3>

                    <form class="form-inline sidebar-form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope btn-icon"></i>
                                </div>
                                <input type="text" class="form-control join" placeholder="Leave your Email here">
                                <div class="input-group-addon btn-join-block">
                                    <input type="submit" class="btn-join btn-foo" value="Join">
                                </div>
                            </div>
                        </div>
                    </form>

                    <p>Ut eget metus nibh, nec scelerisque sem. Nulla dui purus, pellentesque sit amet rutrum vitae.</p>
                </div>
                <div id="appRecentPosts">
                    <h3 class="description-title">Recent Posts</h3>
                    <ul class="recentPost">
                        <!-- <li v-on:click="custom_alert(index)" v-for="(item, index) in items">
                            <a class="postText">{{ item.text }}</a>
                            <br>
                            <small>{{ item.datePostUpdate }}</small>
                        </li> -->
                    </ul>
                </div>
                <div id="appTags">
                    <h3 class="description-title">Popular Tags</h3>
                    <!-- <input v-for="(item, index) in itemsTags" type="submit" class="btn-join tags" v-bind:style="{fontSize: 10+item.font + 'px'}" v-bind:value="item.title" v-on:click="custom_alert(index)"> -->
                </div>
            </div>

            <img src="http://www.mastera174.ru/images/side-banner.jpg" class="img-responsive center-block">
        </div>
    </div>
</div>