.content {
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 400px;
    background-color: url(http://2.bp.blogspot.com/-iFvxg9CkLPo/U0uTIS8ieWI/AAAAAAAAATE/BFuBsdCrfqI/s1600/background.png) repeat;
}

.description {
    border: 1px solid #ccc;
    margin: 25px 0;
    padding: 15px;
    margin-top: 7px;
    background: url(http://1.bp.blogspot.com/-gvBDWFzrKms/U0uTJu1FpCI/AAAAAAAAAUA/JbNUwz4Ahgo/s1600/postbg.png) repeat #fff;
    position: relative;
}

.description:before,
.description:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 5px;
    right: 0;
    border: inherit;
    padding: 2px;
    background: inherit;
    width: calc(100% - 10px);
}

.description:after {
    bottom: -11px;
    left: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 2px #ccc;
}

.description p {
    color: #989898;
    font-style: italic;
    padding-top: 10px;
}

.description-title {
    font-family: inherit;
    font-weight: 600;
}

.description h6 {
    font-family: inherit;
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    color: #989898;
}

.input-group-addon {
    background-color: white;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    border: 0;
}

.sidebar-form .form-control {
    width: 100%;
    padding: 25px 5px;
    box-shadow: none;
}

.sidebar-form .form-control:focus,
.sidebar-form .form-control:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.sidebar-form .input-group {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sidebar-form .join,
.sidebar-form .join:focus,
.sidebar-form .join:active {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-right: 25px;
    padding-left: 25px;
}

.btn-join {
    background: #ebebeb;
    border: 1px solid #ddd;
    outline: none;
    transition: background .4s linear;
    margin: 0px;
    border-radius: 4px;
    padding: 10px 14px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
    font-weight: bold;
    color: #575757;
}

.btn-join:hover {
    background: #d3d1d1;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .4) !important;
}