<div class="comment">
    <div class="text-justify">
        <div>
            <img src="http://via.placeholder.com/60x60" alt="user" class="img-responsive img-user">
            <div>
                <span class="comment-author">author</span>
                <span>to</span>
                <span class="comment-author">author</span>
                <span class="comment-date">54654675</span>
                <p>rgtregn njvgjrds fjrsnvgfdjk rgtregn njvgjrds njvgjrds fjrsnvgfdjk rgtregn njvgjrds njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk rgtregn njvgjrds fjrsnvgfdjk </p>
            </div>
        </div>
    </div>
</div>