.comment {
    padding-left: 0;
    margin-top: 15px;
}

.comment li {
    list-style-type: none;

}

.comment .comment-author {
    color: #f26c4f;
    font-weight: 600;
}

.comment .comment-date {
    font-style: italic;
}

.img-user {
    float: left;
	margin: 10px 10px 10px 0;
}

.comment:after {
    content: "";
    display: block;
    clear: both;
}

.comment-info {
    padding-top: 5px;
}

.comment-remove {
    float: right;
    position: relative;
    top: 5px;
    color: rgba(78, 0, 0, 0);
    transition: all .3s ease-in;
}

.comment:hover .comment-remove{
    color: rgba(78, 0, 0, 1);
    transition: all .3s ease-in;
}
