/* post img */

.post-img {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 7px;
    min-height: 200px;
}

.post-img img {
    border: 1px solid #ccc;
}

/*style for a post title*/

.description .description-post-title {
    font-family: inherit;
    font-weight: 600;
    transition: all .7s linear;
}

.description .description-post-title:hover {
    color: #f26c4f;
    transition: all .7s linear;
    cursor: pointer;
}

.description .description-post-subtitle {
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    color: #f26c4f;
    cursor: default;
}

.description .description-post-date {
    color: #cccccc;
    font-family: inherit;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.description p {
    color: #989898;
}

/*div with a ladder*/

.description {
    border: 1px solid #cccccc;
    margin: 25px 0;
    padding: 15px;
    margin-top: 7px;
    background: url(http://1.bp.blogspot.com/-gvBDWFzrKms/U0uTJu1FpCI/AAAAAAAAAUA/JbNUwz4Ahgo/s1600/postbg.png) repeat #ffffff;
    position: relative;
}

/*corner*/

.angle {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    transform: rotate(45deg);
    position: absolute;
    top: -11px;
    left: 20px;
}

.description:before,
.description:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 5px;
    right: 0;
    border: inherit;
    padding: 2px;
    background: inherit;
    width: calc(100% - 10px);
}

.description:after {
    bottom: -11px;
    left: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 0px 2px #cccccc;
}

/* styles for child components */

app-comments {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 20px;
    background-color: #f26c4f;
    color: white;
    border-radius: 4px;
    cursor: default;
    z-index: 100;
}

app-edit-delete {
    position: absolute;
    right: 18px;
    top: 18px;
}

app-social {
    position: absolute;
    left: 8px;
    bottom: 8px;
    padding: 0;
    z-index: 100;
}
