<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="edit-post">
                <form [formGroup]="form">
                    <div *ngIf="isCreated == true; then createPost else editPost"></div>
                    <ng-template #editPost>
                        <h2>Edit Post</h2>
                    </ng-template>
                    <ng-template #createPost>
                        <h2>Create Post</h2>
                    </ng-template>
                    <div *ngIf="post">
                        <mat-form-field class="form-input-long">
                            <input type="text" matInput formControlName="title" placeholder="Post Title" required tabindex="1">
                            <mat-error *ngIf="form.controls['title'].errors">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input-long">
                            <input type="text" matInput formControlName="subtitle" placeholder="Post Subtitle" required tabindex="2">
                            <mat-error *ngIf="form.controls['subtitle'].errors">Subtitle is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input-long">
                            <textarea matInput formControlName="text" placeholder="Post Text" required tabindex="3" matTextareaAutosize matAutosizeMinRows="8" matAutosizeMaxRows="50"></textarea>
                            <mat-error *ngIf="form.controls['text'].errors">Text is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-input-long">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of post.tags"
                                            [selectable]="selectable"
                                            [removable]="removable"
                                            (remove)="remove(tag)">{{tag}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input tabindex="4"
                                        placeholder="Tags"
                                        formControlName="tags"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="add($event)"
                                        required>
                                <mat-hint>Please, write one tag at least.</mat-hint>
                            </mat-chip-list>
                        </mat-form-field>
                        <div mat-dialog-actions>
                            <button mat-raised-button *ngIf="isCreated !== true" tabindex="5" [disabled]="form.invalid" (click)="edit()">Save changes</button>
                            <button mat-raised-button *ngIf="isCreated == true" tabindex="5" [disabled]="form.invalid" (click)="create()">Create</button>
                            <button mat-raised-button tabindex="6" (click)="back()">Cancel</button>
                            <button mat-raised-button *ngIf="isCreated !== true" tabindex="7" (click)="openDialogDelete(post.id)">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
