<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="editPost" id="app">
                <form>
                    <div *ngIf="isCreated == true; then createPost else editPost"></div>
                    <ng-template #editPost>
                        <h2>Edit Post</h2>
                    </ng-template>
                    <ng-template #createPost>
                        <h2>Create Post</h2>
                    </ng-template>
                    <mat-form-field class="form-input-short">
                        <input matInput tabindex="1" placeholder="Post Title" [value]="post.title" [(ngModel)]="post.title" name="post.title">
                    </mat-form-field>
                    <mat-form-field class="form-input-short">
                        <input matInput tabindex="2" placeholder="Post Subtitle" [value]="post.subtitle" [(ngModel)]="post.subtitle" name="post.subtitle">
                    </mat-form-field>
                    <mat-form-field class="form-input-long">
                        <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="50" tabindex="3" placeholder="Post Text" [value]="post.text" [(ngModel)]="post.text" name="post.text"></textarea>
                    </mat-form-field>
                    <mat-form-field class="form-input-long">
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let tag of post.tags"
                                        [selectable]="selectable"
                                        [removable]="removable"
                                        (remove)="remove(tag)">{{tag}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input tabindex="4"
                                    placeholder="Tags"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>
                    <div mat-dialog-actions>
                        <button mat-button *ngIf="isCreated !== true" tabindex="5">Edit</button>
                        <button mat-button *ngIf="isCreated == true" tabindex="5" (click)="create(post)">Create</button>
                        <button mat-button tabindex="6">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>