.recent-post {
    padding-left: 0;
}

.recent-post li {
    list-style: none;
    position: relative;
    padding-left: 10px;
}

.recent-post li a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    font-style: italic;
}

.recent-post li:before {
    content: '\25ba';
    color: #333;
    font-size: 8px;
    position: absolute;
    top: 12px;
    left: 0;
    line-height: 0;
}

small {
    color: #ccc;
    font-style: italic;
}